@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
header a{
    text-decoration: none;
}
header {
    padding: 0px 20px;
    display: flex;
    height: 37px;
    background-color: rgb(244, 150, 150);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.783);
    justify-content: space-around;
    border-radius: 25px;
    margin-top: 2.5px;
    width: 20%;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}
li a{
    color: whitesmoke;
    font-size: medium;
    font-weight: bolder;
}
li a:hover{
    color: rgba(130, 2, 193, 0.765);
}
 ul li:hover{
    transform: scale(1.1);
    transition: 0.3;   
}



body {
    font-family: sans-serif;
    margin: 2rem;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #706868;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

